flow_exemplos/cotacao_dolar.json
[{"id":"ad46570c.7c11d8","type":"inject","z":"ead9c88e.02ed2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["a5ca5a5d.8d7fd"]]},{"id":"a5ca5a5d.8d7fd","type":"http request","z":"ead9c88e.02ed2","name":"Cotação Dólar","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://economia.awesomeapi.com.br/json/last/USD-BRL","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["7f25f1d1.a10eb8"]]},{"id":"7f25f1d1.a10eb8","type":"json","z":"ead9c88e.02ed2","name":"","property":"payload","action":"","pretty":false,"x":510,"y":100,"wires":[["d6f506b6.2129b8"]]},{"id":"d6f506b6.2129b8","type":"function","z":"ead9c88e.02ed2","name":"Formatar Dólar","func":"var high = msg.payload.USD_BRL.high;\nvar low = msg.payload.USD_BRL.low;\n\nmsg.payload = `O preço atual do dólar é ${high} (alta) / ${low} (baixa).`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":100,"wires":[["8900313a.6596f8"]]},{"id":"8900313a.6596f8","type":"ui_template","z":"ead9c88e.02ed2","group":"ca22fa0e.65a208","name":"Cotação Dólar","order":1,"width":"6","height":"1","format":"<div style=\"text-align:center;font-size:30px\">{{msg.payload}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":870,"y":100,"wires":[[]]},{"id":"ca22fa0e.65a208","type":"ui_group","name":"Cotação Dólar","tab":"84f5f56f.0f223","order":1,"disp":true,"width":"6","collapse":false},{"id":"84f5f56f.0f223","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
