flow_exemplos/Joining+Splitting+Lesson.json
[
    {
        "id": "587f8b93.289ac4",
        "type": "tab",
        "label": "Joining / Splitting Lesson",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1bbfe8d4.b3c3c7",
        "type": "group",
        "z": "587f8b93.289ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "93fff655.c76928",
            "bf5809f4.529dd",
            "80288447.cb2ec",
            "671c2c20.4d4ce4",
            "74d37fcc.99f2a8",
            "5d3ce4ad.e0f324",
            "b54a6cda.47d58"
        ],
        "x": 74,
        "y": 339,
        "w": 1052,
        "h": 162
    },
    {
        "id": "232deb88.0ae87c",
        "type": "group",
        "z": "587f8b93.289ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "67c2837c.0e8ab4",
            "10cbb4cd.b1cc23",
            "8de4b741.39f6e"
        ],
        "x": 74,
        "y": 239,
        "w": 1052,
        "h": 82
    },
    {
        "id": "8b8b4e75.59605",
        "type": "group",
        "z": "587f8b93.289ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d9a61570.a2d3d8",
            "27dd03d8.dcf9cc",
            "86460837.bd883",
            "3ba49cf7.11ecd4",
            "6a3d5661.72dd98",
            "a66b5946.094d58",
            "6d2fa089.6cd65",
            "cea18c5f.a92438",
            "ddbad75.75672a8"
        ],
        "x": 74,
        "y": 619,
        "w": 1052,
        "h": 242
    },
    {
        "id": "9634f261.6a0508",
        "type": "group",
        "z": "587f8b93.289ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a0e853b2.0acbc8",
            "cd3ebfec.ad477",
            "6dadcf57.c4e",
            "c65a3e87.549038",
            "ba5ead5d.0c61d8",
            "a1bbab6.8f62b58",
            "6f79bebe.f67168",
            "9c6f4f5d.3e15d8"
        ],
        "x": 94,
        "y": 959,
        "w": 1052,
        "h": 122
    },
    {
        "id": "a3d4a309.c9e19",
        "type": "group",
        "z": "587f8b93.289ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8ab23a0.79a23c8",
            "d1f1a509.fb3ed",
            "ff37c9c5.1be8c",
            "b97210e3.40bc2",
            "a3db617e.d80858"
        ],
        "x": 74,
        "y": 59,
        "w": 1052,
        "h": 162
    },
    {
        "id": "ed6f4ee4.b9c748",
        "type": "group",
        "z": "587f8b93.289ac4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "664c1010.9a2908",
            "250f8c5b.00136c",
            "5858c3dc.549b14"
        ],
        "x": 74,
        "y": 519,
        "w": 1052,
        "h": 82
    },
    {
        "id": "8ab23a0.79a23c8",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "a3d4a309.c9e19",
        "name": "Inject Data 1",
        "props": [
            {
                "p": "system_started",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "b97210e3.40bc2"
            ]
        ]
    },
    {
        "id": "d1f1a509.fb3ed",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "a3d4a309.c9e19",
        "name": "Inject Data 2",
        "props": [
            {
                "p": "value1",
                "v": "10",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "b97210e3.40bc2"
            ]
        ]
    },
    {
        "id": "ff37c9c5.1be8c",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "a3d4a309.c9e19",
        "name": "Inject Data 2",
        "props": [
            {
                "p": "value2",
                "v": "20",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "b97210e3.40bc2"
            ]
        ]
    },
    {
        "id": "b97210e3.40bc2",
        "type": "join",
        "z": "587f8b93.289ac4",
        "g": "a3d4a309.c9e19",
        "name": "Manual Join",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "5",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "a3db617e.d80858"
            ]
        ]
    },
    {
        "id": "a3db617e.d80858",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "a3d4a309.c9e19",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "67c2837c.0e8ab4",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "232deb88.0ae87c",
        "name": "Complete Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"stopped_reason\":\"Completed Routine\",\"value1\":100,\"value2\":200}",
        "payloadType": "json",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "10cbb4cd.b1cc23"
            ]
        ]
    },
    {
        "id": "10cbb4cd.b1cc23",
        "type": "split",
        "z": "587f8b93.289ac4",
        "g": "232deb88.0ae87c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "8de4b741.39f6e"
            ]
        ]
    },
    {
        "id": "8de4b741.39f6e",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "232deb88.0ae87c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 280,
        "wires": []
    },
    {
        "id": "93fff655.c76928",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "1bbfe8d4.b3c3c7",
        "name": "Complete Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"stopped_reason\":\"Completed Routine\",\"value1\":100,\"value2\":200}",
        "payloadType": "json",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "bf5809f4.529dd"
            ]
        ]
    },
    {
        "id": "bf5809f4.529dd",
        "type": "split",
        "z": "587f8b93.289ac4",
        "g": "1bbfe8d4.b3c3c7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "671c2c20.4d4ce4",
                "b54a6cda.47d58"
            ]
        ]
    },
    {
        "id": "80288447.cb2ec",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "1bbfe8d4.b3c3c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 440,
        "wires": []
    },
    {
        "id": "671c2c20.4d4ce4",
        "type": "switch",
        "z": "587f8b93.289ac4",
        "g": "1bbfe8d4.b3c3c7",
        "name": "Obtain Values",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "value",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "74d37fcc.99f2a8"
            ],
            [
                "5d3ce4ad.e0f324"
            ]
        ]
    },
    {
        "id": "74d37fcc.99f2a8",
        "type": "change",
        "z": "587f8b93.289ac4",
        "g": "1bbfe8d4.b3c3c7",
        "name": "Clear Values",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "5d3ce4ad.e0f324"
            ]
        ]
    },
    {
        "id": "5d3ce4ad.e0f324",
        "type": "join",
        "z": "587f8b93.289ac4",
        "g": "1bbfe8d4.b3c3c7",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 440,
        "wires": [
            [
                "80288447.cb2ec"
            ]
        ]
    },
    {
        "id": "b54a6cda.47d58",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "1bbfe8d4.b3c3c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "664c1010.9a2908",
        "type": "batch",
        "z": "587f8b93.289ac4",
        "g": "ed6f4ee4.b9c748",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "5858c3dc.549b14"
            ]
        ]
    },
    {
        "id": "250f8c5b.00136c",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "ed6f4ee4.b9c748",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "664c1010.9a2908"
            ]
        ]
    },
    {
        "id": "5858c3dc.549b14",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "ed6f4ee4.b9c748",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 560,
        "wires": []
    },
    {
        "id": "cea18c5f.a92438",
        "type": "batch",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "batch - no overlap",
        "mode": "count",
        "count": "5",
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 610,
        "y": 720,
        "wires": [
            [
                "ddbad75.75672a8"
            ]
        ]
    },
    {
        "id": "86460837.bd883",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "cea18c5f.a92438",
                "27dd03d8.dcf9cc"
            ]
        ]
    },
    {
        "id": "3ba49cf7.11ecd4",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "cea18c5f.a92438",
                "27dd03d8.dcf9cc"
            ]
        ]
    },
    {
        "id": "6a3d5661.72dd98",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "cea18c5f.a92438",
                "27dd03d8.dcf9cc"
            ]
        ]
    },
    {
        "id": "a66b5946.094d58",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "cea18c5f.a92438",
                "27dd03d8.dcf9cc"
            ]
        ]
    },
    {
        "id": "6d2fa089.6cd65",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "cea18c5f.a92438",
                "27dd03d8.dcf9cc"
            ]
        ]
    },
    {
        "id": "27dd03d8.dcf9cc",
        "type": "batch",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "batch - with overlap = 2",
        "mode": "count",
        "count": "5",
        "overlap": "2",
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [],
        "x": 630,
        "y": 760,
        "wires": [
            [
                "d9a61570.a2d3d8"
            ]
        ]
    },
    {
        "id": "ddbad75.75672a8",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 720,
        "wires": []
    },
    {
        "id": "d9a61570.a2d3d8",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "8b8b4e75.59605",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "a0e853b2.0acbc8",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "9634f261.6a0508",
        "name": "Recipe 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Recipe",
        "payload": "[{\"Mode\":1,\"Length\":20,\"Value\":50},{\"Mode\":2,\"Length\":65,\"Value\":22},{\"Mode\":5,\"Length\":0.6,\"Value\":2},{\"Mode\":9,\"Length\":42,\"Value\":0.44}]",
        "payloadType": "json",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "cd3ebfec.ad477",
                "9c6f4f5d.3e15d8"
            ]
        ]
    },
    {
        "id": "cd3ebfec.ad477",
        "type": "split",
        "z": "587f8b93.289ac4",
        "g": "9634f261.6a0508",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "ba5ead5d.0c61d8"
            ]
        ]
    },
    {
        "id": "6dadcf57.c4e",
        "type": "batch",
        "z": "587f8b93.289ac4",
        "g": "9634f261.6a0508",
        "name": "",
        "mode": "concat",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": "Recipe"
            }
        ],
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "a1bbab6.8f62b58",
                "2830ad8f.409e1a"
            ]
        ]
    },
    {
        "id": "c65a3e87.549038",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "9634f261.6a0508",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ba5ead5d.0c61d8",
        "type": "function",
        "z": "587f8b93.289ac4",
        "g": "9634f261.6a0508",
        "name": "Organise Recipe",
        "func": "var nRecipe = {}\n\nnRecipe = {\n    \"Mode\":msg.payload.Mode,\n    \"Length\":msg.payload.Length,\n    \"Value\":msg.payload.Value\n}\nmsg.payload = nRecipe\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "6dadcf57.c4e"
            ]
        ]
    },
    {
        "id": "a1bbab6.8f62b58",
        "type": "join",
        "z": "587f8b93.289ac4",
        "g": "9634f261.6a0508",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 1000,
        "wires": [
            [
                "c65a3e87.549038"
            ]
        ]
    },
    {
        "id": "6f79bebe.f67168",
        "type": "inject",
        "z": "587f8b93.289ac4",
        "g": "9634f261.6a0508",
        "name": "Recipe 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Recipe",
        "payload": "[{\"Length\":20,\"Value\":50,\"Mode\":1},{\"Mode\":2,\"Value\":22,\"Length\":65},{\"Value\":2,\"Mode\":5,\"Length\":0.6},{\"Length\":0.6,\"Mode\":9,\"Value\":0.44}]",
        "payloadType": "json",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "cd3ebfec.ad477",
                "9c6f4f5d.3e15d8"
            ]
        ]
    },
    {
        "id": "9c6f4f5d.3e15d8",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "g": "9634f261.6a0508",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2830ad8f.409e1a",
        "type": "debug",
        "z": "587f8b93.289ac4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 960,
        "wires": []
    }
]