flow_exemplos/curso_nodered1/Parsing.json
[
    {
        "id": "abb6d3d6.e2cc9",
        "type": "tab",
        "label": "Parsing Lesson",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4115b67a.18b298",
        "type": "group",
        "z": "abb6d3d6.e2cc9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f55d90e5.98129",
            "1309862a.e17852",
            "50af7307.5d6ca4",
            "117a2ce5.63553b",
            "52e4e66f.d5aab8"
        ],
        "x": 14,
        "y": 299,
        "w": 1212,
        "h": 122
    },
    {
        "id": "8acea332.6de37",
        "type": "group",
        "z": "abb6d3d6.e2cc9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c54329eb.b39b8",
            "87c71ef.aa2926",
            "7c92f512.55d79c",
            "d00e959d.012ae",
            "53b3a717.5ebea",
            "147c8eb2.505cb9",
            "f9f9d2bd.68ba18",
            "38184669.be056a",
            "de896efa.9e1c18",
            "325c3637.21daea"
        ],
        "x": 14,
        "y": 19,
        "w": 1212,
        "h": 262
    },
    {
        "id": "c54329eb.b39b8",
        "type": "csv",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "53b3a717.5ebea"
            ]
        ]
    },
    {
        "id": "87c71ef.aa2926",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "7c92f512.55d79c",
        "type": "file in",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "",
        "filename": "/home/liam/Documents/Example CSV File.csv",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "c54329eb.b39b8"
            ]
        ]
    },
    {
        "id": "d00e959d.012ae",
        "type": "inject",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "7c92f512.55d79c"
            ]
        ]
    },
    {
        "id": "53b3a717.5ebea",
        "type": "join",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "87c71ef.aa2926",
                "147c8eb2.505cb9"
            ]
        ]
    },
    {
        "id": "325c3637.21daea",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "CSV",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "147c8eb2.505cb9",
        "type": "change",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "Add 50 to Index 5's Data2 Value",
        "rules": [
            {
                "t": "set",
                "p": "payload[5].Data2",
                "pt": "msg",
                "to": "payload[5].Data2+50",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "f9f9d2bd.68ba18"
            ]
        ]
    },
    {
        "id": "f9f9d2bd.68ba18",
        "type": "csv",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 670,
        "y": 200,
        "wires": [
            [
                "38184669.be056a",
                "de896efa.9e1c18"
            ]
        ]
    },
    {
        "id": "38184669.be056a",
        "type": "file",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "",
        "filename": "/home/liam/Documents/Example CSV File - Output.csv",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1000,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "de896efa.9e1c18",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "g": "8acea332.6de37",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "f55d90e5.98129",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "g": "4115b67a.18b298",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".node-red-latest-version",
        "ret": "html",
        "as": "single",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "117a2ce5.63553b"
            ]
        ]
    },
    {
        "id": "1309862a.e17852",
        "type": "http request",
        "z": "abb6d3d6.e2cc9",
        "g": "4115b67a.18b298",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://nodered.org/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 380,
        "wires": [
            [
                "f55d90e5.98129"
            ]
        ]
    },
    {
        "id": "50af7307.5d6ca4",
        "type": "inject",
        "z": "abb6d3d6.e2cc9",
        "g": "4115b67a.18b298",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "1309862a.e17852"
            ]
        ]
    },
    {
        "id": "117a2ce5.63553b",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "g": "4115b67a.18b298",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "3b490789.f0e958",
        "type": "http request",
        "z": "abb6d3d6.e2cc9",
        "name": "Scrape AutoSport's F1 Calendar",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.autosport.com/f1/calendar",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "5be3261f.b0d9a",
                "78f64c7c.0443d4"
            ]
        ]
    },
    {
        "id": "5be3261f.b0d9a",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "name": "Get Stats Tables",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".stats",
        "ret": "html",
        "as": "single",
        "x": 580,
        "y": 500,
        "wires": [
            [
                "53910bf4.082b74",
                "f88844b7.82fa98"
            ]
        ]
    },
    {
        "id": "3ac7453d.b12b82",
        "type": "inject",
        "z": "abb6d3d6.e2cc9",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "3b490789.f0e958"
            ]
        ]
    },
    {
        "id": "c115c201.b3e688",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "name": "Find CSS Class Containing Next Race Location / Date",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".headerbar.smaller",
        "ret": "text",
        "as": "multi",
        "x": 700,
        "y": 600,
        "wires": [
            [
                "31d1830a.6a55fc"
            ]
        ]
    },
    {
        "id": "31d1830a.6a55fc",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "Next Formula 1 Race Location & Date",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1110,
        "y": 600,
        "wires": []
    },
    {
        "id": "53910bf4.082b74",
        "type": "function",
        "z": "abb6d3d6.e2cc9",
        "name": "Get \"Coming Up\" Stats Table",
        "func": "msg.payload = msg.payload[1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "c115c201.b3e688",
                "9c3d7996.c79a58",
                "ca60ccf.cc353b"
            ]
        ]
    },
    {
        "id": "f88844b7.82fa98",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c3d7996.c79a58",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 580,
        "wires": []
    },
    {
        "id": "ca60ccf.cc353b",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "name": "Find CSS Class Containing Table",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".time-convert",
        "ret": "html",
        "as": "multi",
        "x": 640,
        "y": 660,
        "wires": [
            [
                "6c230a2.858d774",
                "6ade9af3.8171e4"
            ]
        ]
    },
    {
        "id": "6c230a2.858d774",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 660,
        "wires": []
    },
    {
        "id": "6ade9af3.8171e4",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "name": "Find Table",
        "property": "payload",
        "outproperty": "payload",
        "tag": "table",
        "ret": "html",
        "as": "multi",
        "x": 570,
        "y": 720,
        "wires": [
            [
                "15be52fb.04480d",
                "b7ce8ac7.186a98"
            ]
        ]
    },
    {
        "id": "15be52fb.04480d",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 720,
        "wires": []
    },
    {
        "id": "b7ce8ac7.186a98",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "name": "Find Table Body",
        "property": "payload",
        "outproperty": "payload",
        "tag": "tbody",
        "ret": "html",
        "as": "multi",
        "x": 580,
        "y": 780,
        "wires": [
            [
                "a8d7527c.ee6ae",
                "4a4bb797.6f0e1"
            ]
        ]
    },
    {
        "id": "a8d7527c.ee6ae",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 780,
        "wires": []
    },
    {
        "id": "4a4bb797.6f0e1",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "name": "Retrieve Each Row In Table",
        "property": "payload",
        "outproperty": "payload",
        "tag": "tr",
        "ret": "html",
        "as": "multi",
        "x": 620,
        "y": 840,
        "wires": [
            [
                "ae01f14a.561cd8",
                "cc603ed6.d3003"
            ]
        ]
    },
    {
        "id": "ae01f14a.561cd8",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "b009ae30.9130d8",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "name": "Get First Column Data (Attributes Only)",
        "property": "payload",
        "outproperty": "payload",
        "tag": "td",
        "ret": "attr",
        "as": "single",
        "x": 660,
        "y": 920,
        "wires": [
            [
                "397059f9.fb3026"
            ]
        ]
    },
    {
        "id": "cefb9f55.c40418",
        "type": "html",
        "z": "abb6d3d6.e2cc9",
        "name": "Get Second Column Data",
        "property": "payload",
        "outproperty": "payload",
        "tag": "td",
        "ret": "html",
        "as": "single",
        "x": 610,
        "y": 960,
        "wires": [
            [
                "397059f9.fb3026"
            ]
        ]
    },
    {
        "id": "5aafdeed.f245",
        "type": "join",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 550,
        "y": 1040,
        "wires": [
            [
                "338b1297.e89006",
                "19a4db09.ad682d"
            ]
        ]
    },
    {
        "id": "338b1297.e89006",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1040,
        "wires": []
    },
    {
        "id": "19a4db09.ad682d",
        "type": "function",
        "z": "abb6d3d6.e2cc9",
        "name": "Merge Column Data",
        "func": "var x = msg.payload[1].payload[0]\nvar y = msg.payload[0].payload[1][\"data-start\"]\n\nmsg = {}\nmsg.Event = x\nmsg.Time = y\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 1100,
        "wires": [
            [
                "cef1a144.b6cc78",
                "4f85f2c.c78ca8c"
            ]
        ],
        "outputLabels": [
            "Event"
        ]
    },
    {
        "id": "1976d703.6e5599",
        "type": "switch",
        "z": "abb6d3d6.e2cc9",
        "name": "Event Switch",
        "property": "Event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "1st Free",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "2nd Free",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3rd Free",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "1st Q",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "2nd Q",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "3rd Q",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Race",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 610,
        "y": 1200,
        "wires": [
            [
                "83c00630.2ece98"
            ],
            [
                "3482ca22.c8604e"
            ],
            [
                "36c442a9.1cde76"
            ],
            [
                "f3ad2ee5.59622"
            ],
            [
                "48f03a74.53b2ec"
            ],
            [
                "c23b629a.4badb"
            ],
            [
                "3307ce5c.c40272"
            ]
        ]
    },
    {
        "id": "cef1a144.b6cc78",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 1100,
        "wires": []
    },
    {
        "id": "83c00630.2ece98",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "First Free Practice",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "Time",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1050,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3482ca22.c8604e",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "Second Free Practice",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "Time",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1060,
        "y": 1080,
        "wires": []
    },
    {
        "id": "36c442a9.1cde76",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "Third Free Practice",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "Time",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1050,
        "y": 1140,
        "wires": []
    },
    {
        "id": "f3ad2ee5.59622",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "First Qualifying",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "Time",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1040,
        "y": 1200,
        "wires": []
    },
    {
        "id": "48f03a74.53b2ec",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "Second Qualifying",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "Time",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1050,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c23b629a.4badb",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "Third Qualifying",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "Time",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1040,
        "y": 1320,
        "wires": []
    },
    {
        "id": "3307ce5c.c40272",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "Race",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "Time",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 1380,
        "wires": []
    },
    {
        "id": "4f85f2c.c78ca8c",
        "type": "moment",
        "z": "abb6d3d6.e2cc9",
        "name": "Adjust Timezone For Local Start Time",
        "topic": "",
        "input": "Time",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "LLL",
        "locale": "en_GB",
        "output": "Time",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "1976d703.6e5599",
                "41fb3b0b.4e08ec"
            ]
        ]
    },
    {
        "id": "4bab1f0a.22fba",
        "type": "link in",
        "z": "abb6d3d6.e2cc9",
        "name": "Get Column Data",
        "links": [
            "cc603ed6.d3003"
        ],
        "x": 400,
        "y": 940,
        "wires": [
            [
                "b009ae30.9130d8",
                "cefb9f55.c40418"
            ]
        ],
        "l": true
    },
    {
        "id": "cc603ed6.d3003",
        "type": "link out",
        "z": "abb6d3d6.e2cc9",
        "name": "Get Column Data",
        "links": [
            "4bab1f0a.22fba"
        ],
        "x": 1050,
        "y": 860,
        "wires": [],
        "l": true
    },
    {
        "id": "397059f9.fb3026",
        "type": "link out",
        "z": "abb6d3d6.e2cc9",
        "name": "Join Column Data",
        "links": [
            "c5056219.f02768"
        ],
        "x": 1050,
        "y": 940,
        "wires": [],
        "l": true
    },
    {
        "id": "c5056219.f02768",
        "type": "link in",
        "z": "abb6d3d6.e2cc9",
        "name": "Join Column Data",
        "links": [
            "397059f9.fb3026"
        ],
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "5aafdeed.f245"
            ]
        ],
        "l": true
    },
    {
        "id": "100f16a7.7e1269",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "name": "Scrape https://www.autosport.com/f1/calendar",
        "info": "",
        "x": 210,
        "y": 680,
        "wires": []
    },
    {
        "id": "fc9ca10.6ef8fe",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "name": "Return The Next F1 Race Location",
        "info": "",
        "x": 180,
        "y": 720,
        "wires": []
    },
    {
        "id": "94ca757a.5a9ed",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "name": "Return Localized Event Start Times",
        "info": "",
        "x": 180,
        "y": 760,
        "wires": []
    },
    {
        "id": "50ccdac1.dd170c",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "name": "Correct As Of 04/10/2020 (And In This Video!)",
        "info": "",
        "x": 210,
        "y": 800,
        "wires": []
    },
    {
        "id": "78f64c7c.0443d4",
        "type": "nostalgic",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "outputProp": "nostalgic",
        "interval": "60",
        "resend": false,
        "attach": true,
        "x": 515,
        "y": 440,
        "wires": [
            [
                "55b0de90.cd9ff8"
            ]
        ],
        "l": false
    },
    {
        "id": "55b0de90.cd9ff8",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "nostalgic",
        "statusType": "msg",
        "x": 575,
        "y": 440,
        "wires": [],
        "icon": "font-awesome/fa-bug",
        "l": false
    },
    {
        "id": "3eafcba.3b16134",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "name": "Read / Write JSON Data",
        "info": "",
        "x": 150,
        "y": 1460,
        "wires": []
    },
    {
        "id": "cb716867.58bda",
        "type": "inject",
        "z": "abb6d3d6.e2cc9",
        "name": "JSON Data Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"A_Object\":{\"A_String\":\"Some String Value\",\"A_Number\":100,\"An_Array_Of_Numbers\":[1,2,3,4,5],\"2D_Array\":[[{\"String\":\"Some String Value\",\"Number\":100,\"TrueFalse\":true}],[{\"String\":\"Some String Value\",\"Number\":100,\"TrueFalse\":true}],[{\"String\":\"Some String Value\",\"Number\":100,\"TrueFalse\":true}],[{\"String\":\"Some String Value\",\"Number\":100,\"TrueFalse\":true}],[{\"String\":\"Some String Value\",\"Number\":100,\"TrueFalse\":true}]],\"\":{\"\":{\"\":{\"\":{\"Deep_Object\":\"Nested Inside Lots Of Objects\"}}}}}}",
        "payloadType": "json",
        "x": 120,
        "y": 1560,
        "wires": [
            [
                "568cd36c.4e194c",
                "ccab565.6783728"
            ]
        ]
    },
    {
        "id": "568cd36c.4e194c",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1560,
        "wires": []
    },
    {
        "id": "ccab565.6783728",
        "type": "json",
        "z": "abb6d3d6.e2cc9",
        "name": "Convert To JSON String",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 1620,
        "wires": [
            [
                "fa959884.f15e5",
                "c8760aeb.b99af8"
            ]
        ]
    },
    {
        "id": "fa959884.f15e5",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1620,
        "wires": []
    },
    {
        "id": "c8760aeb.b99af8",
        "type": "json",
        "z": "abb6d3d6.e2cc9",
        "name": "Convert To JSON Object",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 590,
        "y": 1680,
        "wires": [
            [
                "9360da9b.fc71d"
            ]
        ]
    },
    {
        "id": "9360da9b.fc71d",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1680,
        "wires": []
    },
    {
        "id": "55b4de34.59bf6",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "name": "Read / Write XML Data",
        "info": "",
        "x": 140,
        "y": 1780,
        "wires": []
    },
    {
        "id": "19baf2ed.260c55",
        "type": "inject",
        "z": "abb6d3d6.e2cc9",
        "name": "XML Data Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "<?xml version=\"1.0\" encoding=\"utf-8\"?> <Document>   <Engineering version=\"V15.1\" />   <DocumentInfo>     <Created>2020-09-23T20:12:48.9822195Z</Created>     <ExportSetting>None</ExportSetting>     <InstalledProducts>       <Product>         <DisplayName>Totally Integrated Automation Portal</DisplayName>         <DisplayVersion>V15.1 Update 1</DisplayVersion>       </Product>       <OptionPackage>         <DisplayName>TIA Portal Openness</DisplayName>         <DisplayVersion>V15.1</DisplayVersion>       </OptionPackage>       <OptionPackage>         <DisplayName>TIA Portal Teamcenter Gateway</DisplayName>         <DisplayVersion>V15.1</DisplayVersion>       </OptionPackage>       <Product>         <DisplayName>SINAMICS Startdrive Advanced</DisplayName>         <DisplayVersion>V15.1</DisplayVersion>       </Product>       <OptionPackage>         <DisplayName>G130, G150, S120, S150, SINAMICS MV, S210</DisplayName>         <DisplayVersion>V15.1</DisplayVersion>       </OptionPackage>       <OptionPackage>         <DisplayName>G110M, G120, G120C, G120D, G120P</DisplayName>         <DisplayVersion>V15.1</DisplayVersion>       </OptionPackage>       <Product>         <DisplayName>STEP 7 Professional</DisplayName>         <DisplayVersion>V15.1 Update 1</DisplayVersion>       </Product>       <Product>         <DisplayName>WinCC Advanced</DisplayName>         <DisplayVersion>V15.1 Update 1</DisplayVersion>       </Product>     </InstalledProducts>   </DocumentInfo>   </Document>",
        "payloadType": "str",
        "x": 120,
        "y": 1860,
        "wires": [
            [
                "b5e90b57.b2064",
                "294c48b8.d509b8"
            ]
        ]
    },
    {
        "id": "b5e90b57.b2064",
        "type": "xml",
        "z": "abb6d3d6.e2cc9",
        "name": "Convert To XML Object",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 350,
        "y": 1920,
        "wires": [
            [
                "cc3eeccc.6b5c9",
                "225fd61f.9ba9ba"
            ]
        ]
    },
    {
        "id": "294c48b8.d509b8",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1860,
        "wires": []
    },
    {
        "id": "cc3eeccc.6b5c9",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1920,
        "wires": []
    },
    {
        "id": "225fd61f.9ba9ba",
        "type": "xml",
        "z": "abb6d3d6.e2cc9",
        "name": "Convert To XML String",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 580,
        "y": 1980,
        "wires": [
            [
                "eef79eb.418fa6"
            ]
        ]
    },
    {
        "id": "eef79eb.418fa6",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1980,
        "wires": []
    },
    {
        "id": "acb40001.e5d368",
        "type": "yaml",
        "z": "abb6d3d6.e2cc9",
        "property": "payload",
        "name": "",
        "x": 370,
        "y": 2160,
        "wires": [
            [
                "147fcc08.e234ac",
                "da7dbf52.e32c6"
            ]
        ]
    },
    {
        "id": "2b3b3f7e.3ea278",
        "type": "inject",
        "z": "abb6d3d6.e2cc9",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 2100,
        "wires": [
            [
                "530afa49.455dfc"
            ]
        ]
    },
    {
        "id": "bb64ecf5.1ab9d8",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2100,
        "wires": []
    },
    {
        "id": "147fcc08.e234ac",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2160,
        "wires": []
    },
    {
        "id": "c12be473.49d9b8",
        "type": "debug",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2220,
        "wires": []
    },
    {
        "id": "530afa49.455dfc",
        "type": "template",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "mustache",
        "template": "- hosts: webservers\n\n  vars:\n    http_port: 80\n    max_clients: 200\n\n  remote_user: root",
        "output": "str",
        "x": 220,
        "y": 2100,
        "wires": [
            [
                "acb40001.e5d368",
                "bb64ecf5.1ab9d8"
            ]
        ]
    },
    {
        "id": "da7dbf52.e32c6",
        "type": "yaml",
        "z": "abb6d3d6.e2cc9",
        "property": "payload",
        "name": "",
        "x": 510,
        "y": 2220,
        "wires": [
            [
                "c12be473.49d9b8"
            ]
        ]
    },
    {
        "id": "34384aab.67767e",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "name": "Read / Write YAML Data",
        "info": "",
        "x": 130,
        "y": 2060,
        "wires": []
    },
    {
        "id": "41fb3b0b.4e08ec",
        "type": "link out",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "links": [
            "47f65f57.e51088"
        ],
        "x": 555,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6be4b70b.6115c8",
        "type": "link in",
        "z": "abb6d3d6.e2cc9",
        "name": "",
        "links": [
            "3fbfc03.f79e34"
        ],
        "x": 85,
        "y": 540,
        "wires": [
            [
                "3b490789.f0e958"
            ]
        ]
    },
    {
        "id": "52e4e66f.d5aab8",
        "type": "comment",
        "z": "abb6d3d6.e2cc9",
        "g": "4115b67a.18b298",
        "name": "HTML - Obtain Information From HTML",
        "info": "",
        "x": 190,
        "y": 340,
        "wires": []
    }
]